In [ ]:
import shutil
import logging

from ludwig.api import LudwigModel
from ludwig.datasets import amazon_employee_access_challenge

# import yaml

from ludwig.automl import create_auto_config
from pprint import pprint

# from ludwig.automl.automl import train_with_config

# import pandas as pd

# clean out prior results
shutil.rmtree("./results", ignore_errors=True)
shutil.rmtree("~/.ludwig_cache", ignore_errors=True)

# Download and prepare the dataset
dataset = amazon_employee_access_challenge.load(split=False)

In [43]:
dataset = amazon_employee_access_challenge.load(split=False)

In [44]:
dataset

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,split,id
0,1.0,39353,85475,117961,118300,123472,117905,117906,290919,117908,0,NaN
1,1.0,17183,1540,117961,118343,123125,118536,118536,308574,118539,0,NaN
2,1.0,36724,14457,118219,118220,117884,117879,267952,19721,117880,0,NaN
3,1.0,36135,5396,117961,118343,119993,118321,240983,290919,118322,0,NaN
4,1.0,42680,5905,117929,117930,119569,119323,123932,19793,119325,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
91685,NaN,75078,4565,117961,118386,121961,118784,117906,290919,118786,2,58917.0
91686,NaN,6977,72209,117961,118225,124948,118054,118054,117887,118055,2,58918.0
91687,NaN,39262,6114,117961,118343,6104,118278,118260,290919,118279,2,58919.0
91688,NaN,1023,8674,117961,118327,120318,118321,117906,290919,118322,2,58920.0
91689,NaN,44977,3918,117961,118343,118660,119433,133686,118424,119435,2,58921.0

In [45]:
auto_config = create_auto_config(
    dataset=training_set,
    target="ACTION",
    time_limit_s=7200,
    tune_for_memory=False,
)

In [48]:
import yaml
print(auto_config)
f = open('downloads/amazon_auto_config.yaml', 'w+')
yaml.dump(auto_config, f, allow_unicode=True)

{'trainer': {'batch_size': 'auto', 'learning_rate': 'auto', 'learning_rate_scaling': 'sqrt', 'decay': True, 'decay_steps': 20000, 'decay_rate': 0.8, 'optimizer': {'type': 'adam'}, 'validation_field': 'ACTION', 'validation_metric': 'roc_auc'}, 'hyperopt': {'search_alg': {'type': 'hyperopt', 'random_state_seed': 42}, 'executor': {'type': 'ray', 'num_samples': 10, 'time_budget_s': 7200, 'scheduler': {'type': 'async_hyperband', 'time_attr': 'time_total_s', 'max_t': 7200, 'grace_period': 72, 'reduction_factor': 5}, 'cpu_resources_per_trial': 1}, 'parameters': {'trainer.learning_rate': {'space': 'choice', 'categories': [0.005, 0.01, 0.02, 0.025]}, 'trainer.decay_rate': {'space': 'choice', 'categories': [0.8, 0.9, 0.95]}, 'trainer.decay_steps': {'space': 'choice', 'categories': [500, 2000, 8000, 10000, 20000]}, 'combiner.size': {'space': 'choice', 'categories': [8, 16, 24, 32, 64]}, 'combiner.output_size': {'space': 'choice', 'categories': [8, 16, 24, 32, 64, 128]}, 'combiner.num_steps': {'space': 'choice', 'categories': [3, 4, 5, 6, 7, 8, 9, 10]}, 'combiner.relaxation_factor': {'space': 'choice', 'categories': [1.0, 1.2, 1.5, 2.0]}, 'combiner.sparsity': {'space': 'choice', 'categories': [0.0, 1e-06, 0.0001, 0.001, 0.01, 0.1]}, 'combiner.bn_virtual_bs': {'space': 'choice', 'categories': [256, 512, 1024, 2048, 4096]}, 'combiner.bn_momentum': {'space': 'choice', 'categories': [0.4, 0.3, 0.2, 0.1, 0.05, 0.02]}}, 'output_feature': 'ACTION', 'metric': 'roc_auc', 'goal': 'maximize'}, 'input_features': [{'name': 'RESOURCE', 'column': 'RESOURCE', 'type': 'number'}, {'name': 'MGR_ID', 'column': 'MGR_ID', 'type': 'number'}, {'name': 'ROLE_ROLLUP_1', 'column': 'ROLE_ROLLUP_1', 'type': 'number'}, {'name': 'ROLE_ROLLUP_2', 'column': 'ROLE_ROLLUP_2', 'type': 'number'}, {'name': 'ROLE_DEPTNAME', 'column': 'ROLE_DEPTNAME', 'type': 'number'}, {'name': 'ROLE_TITLE', 'column': 'ROLE_TITLE', 'type': 'number'}, {'name': 'ROLE_FAMILY_DESC', 'column': 'ROLE_FAMILY_DESC', 'type': 'number'}, {'name': 'ROLE_FAMILY', 'column': 'ROLE_FAMILY', 'type': 'number'}, {'name': 'ROLE_CODE', 'column': 'ROLE_CODE', 'type': 'number'}], 'output_features': [{'name': 'ACTION', 'column': 'ACTION', 'type': 'binary'}], 'combiner': {'type': 'tabnet'}}

2022-08-11 12:12:12,755	WARNING worker.py:1382 -- WARNING: 70 PYTHON worker processes have been started on node: fd3a81cc76352c369488e0f6bbd338a7f5282758c4627c4e676f0fc0 with address: 127.0.0.1. This could be a result of using a large number of actors, or due to tasks blocked in ray.get() calls (see https://github.com/ray-project/ray/issues/3644 for some discussion of workarounds).

In [24]:
dataset = amazon_employee_access_challenge.load(split=False)

In [37]:
print(dataset["ACTION"].isna().sum())
print((dataset["split"] == 0).sum())

58921
32769

In [40]:
print(dataset["ROLE_ROLLUP_1"])

0        117961
1        117961
2        118219
3        117961
4        117929
          ...
91685    117961
91686    117961
91687    117961
91688    117961
91689    117961
Name: ROLE_ROLLUP_1, Length: 91690, dtype: int64

2022-08-10 20:42:01,314	WARNING worker.py:1382 -- WARNING: 60 PYTHON worker processes have been started on node: fd3a81cc76352c369488e0f6bbd338a7f5282758c4627c4e676f0fc0 with address: 127.0.0.1. This could be a result of using a large number of actors, or due to tasks blocked in ray.get() calls (see https://github.com/ray-project/ray/issues/3644 for some discussion of workarounds).